@page
@model her_care.Models.volunteerVerification
@{
    ViewData["Title"] = "Client";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Client</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    <body>
        client page
    </body>
</html>