@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>

<div>Admin portal where it will have the calendar and the search function
    lon
</div>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Enter Client Name">
      <button type="submit" class="searchButton">
        Search
     </button>
   </div>
</div>
