@page
@model IndexModel
@{
    ViewData["Title"] = "Administration";
}
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
<!--
<div>Admin portal where it will have the calendar and the search function
    lon
</div>
-->
<header>Administration Portal</header>
<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Enter Client Name">
      <button type="submit" class="searchButton">
        Search
     </button>
   </div>
</div>
<div align= "center">
    <iframe src="https://calendar.google.com/calendar/embed?src=mlnmv22l6k6gnga0c6tqfmq2ps%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>


<a asp-page="Shared/Client">Click here for client page</a>