@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/sit.css">
<div>This is the home page. This will most likely be the landing page for selecting admin, check in, volunteer hours.</div>
<div>
    <a asp-page="/Intake">Click here for check-in page</a> ||
    <a asp-page="/VolunteerHours">Click here for Volunteer Page</a> ||
    <a asp-page="/Cohort">Click here for the cohort page</a> || 
    <a asp-page="/AdministrationPortal">Click here for Administration Page</a>
</div>

<iframe src="https://calendar.google.com/calendar/embed?src=purebeastiness%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>