@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>This is the home page. This will most likely be the landing page for selecting admin, check in, volunteer hours.</div>
<div>
    <a asp-action="CheckIn">Click here for check-in page</a> ||
    <a asp-action="VolunteerHours">Click here for Volunteer Page</a> ||
    <a asp-action="CoHort">Click here for the cohort page</a> || 
    <a asp-action="Admin">Click here for Administration Page</a>
</div>