@page 
@{
    ViewData["Title"] = "MonetaryAssistance";
}

@model her_care.Models.MonetaryAssistance

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>
            MonetaryAssistence
        </title>
        <link rel="site" href="~/css/site.css" />
    </head>
    <body>
        <div class="panel panel-success">
        <div class"panel-heading text-center"> <h1>MONETARY ASSISTANCE FORM</h1></div>
        <div class="panel-body">
            <h3>DEMOGRAPHICS</h3>
            <form class="p-a-1" asp-action="MonetaryAssistance" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="FirstNameMA">First Name:</label>
                    <input class="form-control" asp-for="FirstNameMA"/>                    
                </div>
                <div class="form-group">
                    <label asp-for="LastNameMA">Last Name:</label>
                    <input class="form-control" asp-for="LastNameMA"/>
                </div>
                <div class="form-group">
                    <label asp-for="MonetaryDate">Today's Date:</label>
                    @Html.EditorFor(model => model.MonetaryDate, new { @type = "date" })
                    <input class="form-control" asp-for="MonetaryDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="streetNumberMA">Street number: </label>
                    <input class="form-control" asp-for="streetNumberMA"/>                    
                </div>
                <div class="form-group">
                    <label asp-for="StreetNameMA">Street Name: </label>
                    <input class="form-control" asp-for="StreetNameMA"/>                    
                </div>
                <div class="form-group">
                    <label asp-for="ZipcodeMA">Street Name: </label>
                    <input class="form-control" asp-for="ZipcodeMA"/>                    
                </div>
                 <div class="form-group">
                    <label asp-for="StateMA">Street: </label>
                    <input class="form-control" asp-for="StateMA"/>                    
                </div>
                <div class="form-group">
                   @Html.TextBoxFor(m => m.EmailMA, new { @placeholder="E-mail"}) <br />
                @Html.ValidationMessageFor(m => m.EmailMA)
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label asp-for="MoneyMA">Amount Provided: $</label>
                    <input class="form-control" asp-for="MoneyMA"/>   
                    
        <br>
        <table>
            <br>
            <tr>
                <br>
                <td>Lights and Water Bill </td>
                <td>
                    <input type="checkbox" name="departments" value="1" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>Rental Deposit</td>
                <td>
                    <input type="checkbox" name="departments" value="2" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>OverDue Rent</td>
                <td>
                    <input type="checkbox" name="departments" value="3" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>ID Card</td>
                <td>
                    <input type="checkbox" name="departments" value="4" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>Temporary Housing</td>
                <td>
                    <input type="checkbox" name="departments" value="5" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>Gas</td>
                <td>
                    <input type="checkbox" name="departments" value="6" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>Food Gift Card</td>
                <td>
                    <input type="checkbox" name="departments" value="7" /></td>
                <br>
            </tr>
            <br>
            <tr>
                <br>
                <td>Bus Pass</td>
                <td>
                    <input type="checkbox" name="departments" value="7" /></td>
                <br>
            </tr>
            <br>
        </table>
        <br>  
                </div>
                <br />
                 <div class="form-group">
                    <label asp-for="ClientSigMA">Street: </label>
                    <input class="form-control" asp-for="ClientSigMA"/>                    
                </div>
                <br />
                 <div class="form-group">
                    <label asp-for="StaffSigMA">Street: </label>
                    <input class="form-control" asp-for="StaffSigMA"/>                    
                </div>
                <br / >
                <br />
               
                <input type="submit" name="submit" value="submit" /><br>
            </form>    
        </div>      
    </body>
</html>